<table class="table">
  <thead>
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Order ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
  {{#each data}}
    <tr>
      <td>{{inc @index}}</td>
      <td>{{order_id}}</td>
      <td>{{product_id}}</td>
      <td>{{qty}}</td>
      <td>{{price}}</td>

      
   {{/each}}
  </tbody>
</table>